# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://neondb_owner:npg_zO1HJqpSa3Qc@ep-calm-hat-an6ajn0q-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=verify-full&channel_binding=require"
# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.ptfojcrlpgopzlpcirut:passs@aws-0-eu-west-1.pooler.supabase.com:5432/postgres"
BOT_TOKEN="token from @BotFather"
BOT_USERNAME="debtloanbot"
PORT=3000
WEBHOOK_URL="https://your-server.com"
SENTRY_DSN=""
REQUIRED_CHANNELS="@your_first_channel,@your_second_channel"
REMINDER_CRON="0 * * * *"